.info #p__addOns{
    width: 100%;
    font-size: 0.9em;
    line-height: 1.4em;
    padding-bottom: 5px;
}
.add_div-service{
    display: grid;
    grid-template-columns:10% 65% 20%;
    border: 1px solid black;
    border-radius: 5px;
    margin:15px 0;
}

.add_div-service .check{
    margin: auto 10px;

}
.add_div-service .add_div-Ps{
    font-size: 0.9em;
    margin: 0 0 0 15px;
    padding: 10px;
    }
.add_div-service .add_div-Ps p{
    color: hsl(213, 96%, 18%);
    font-weight: bolder;
    margin:2px;
    width: 100%;
}
.add_div-service .add_div-Ps .p-extra{
    font-size: 0.8em;
    color: hsla(213, 96%, 18%, 0.509);
}
.add_div-service .add_p-cash{
    margin: auto;
    padding-right:10px ;
}