*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100Vh;
}
header{
    display:flex;
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-position: center center;
    background-size: cover;
    height: 30vh;
    width: 100%;
}
.selection{
    display: flex;
    margin: 30px auto;
}
.selection .div__but button{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    background-color: rgba(243, 243, 243, 0.16);

}
.selection p {
    display: none;
} 
.mainGeneral{
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: hsl(231, 100%, 99%)
    ;
}
.mainGeneral .fundo-info{
    height: 100%;
}
.mainGeneral .info{
    width:clamp(300px,90%, 600px);
    height: fit-content;
    left: 50%;
    top: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.046);
    transform: translate(-50%);
    background-color: white;
    position: absolute;
    color: hsl(213, 96%, 18%);
}
.mainGeneral .info h1{
    font-size: 1.6em;
}
.mainGeneral .info #p__personal-info{
    width: 100%;
    color:hsla(213, 96%, 18%, 0.509) ;
    font-weight: bold;
    margin: 15px 0;
}
.mainGeneral .info .form-label{
    color:hsl(213, 96%, 18%);
    display: block;
}
.mainGeneral .info .form-input{
    width: 100%;
    padding:15px;
    border: 1px solid gray;
    margin-bottom: 15px;
}
.div__footer{
    width: 100%;
    height: 8vh;
}
.div__footer button{
    width:clamp(100px,30%,130px);
    padding: 15px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color:  hsl(243, 100%, 62%);
    color: white;
    margin: 15px 15px 0 0;
}
.div__footer .but-next{
    float: right;
}
.div__footer .but-back{
    margin:15px 0 0 15px ;
    background-color: hsl(231, 100%, 99%);
    color: gray;

}
.attribution{
    font-size: 0.5em;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    font-weight: bolder;
    color: blue;
}


/* display de paginas ------------------------------------------------ */


.infoPersonal{
    display:none;
}
.yourPlan{
    display:none;
}
.addOns{
    display:block;
}
.finish{
    display:none;
}
.finish-thank{
    display: none;
}