#p__info-plan{
    width: 100%;
    line-height: 1.4em;
}
.div-plans{
    border: 1px solid rgba(128, 128, 128, 0.137);
    display: flex;
    margin: 15px 0;
    border-radius: 10px;
}
.div-plans img{
    margin: 5px 10px;
}
.div-plans div .p-plan{
    color: hsl(213, 96%, 18%);
    
}
.div-plans div{
    margin: 5px;
}
.info .month-year{
    display: flex;
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
}
.info .month-year label{
    width: 33%;
    margin:15px auto;
}
.info .month-year #imonth{
   text-align: right;
}
.info .month-year .radiodiv{
    display: flex;
    margin: auto;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: blue;
}
.info .month-year .radiodiv .radio-input{
    margin: auto;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius:50%;
}
.info .month-year .radiodiv .radio-input:checked{
    background-color: white;
}
